package:
  name: ${NAME}
  version: ${VERSION}

source:
  url: ../${TARBALL}
  sha256: ${SHA256}

build:
  number: ${BUILD_NUMBER}
  ${BUILD_STRING_LINE}
  script: python setup.py install --single-version-externally-managed --record=record.txt
  
requirements:
  build:
    - python
    - ${BUILD_REQUIRES}

  run:
    - python
    - ${RUN_REQUIRES}

about:
  home: ${HOME}
  license: ${LICENSE}
  ${LICENSE_FILE_LINE}
  summary: ${SUMMARY}